#logo {
    border: 2px solid #c0392b;
    padding: 10px;
    border-radius: 10px;
}
h1 {
    color; rgb(55, 13, 27); 
    background-color:antiquewhite;
 }

 a{
    color; rgb(223, 27,25)
    text-decoration: none;
 }

 /* agrupamiento de selectores */

 h1, h2, h3, h4 {
    text-decoration: underline;
 }

 /*selector de id*/



 /* selector de clase */
 .destacado{ 
    font-weight: bold;
 }

nav ul{
    list-style: none;
 }

img{ 
    border-radius: 20px;
}
 
